body{
  background-image: url("http://www.getmdl.io/assets/demos/transparent.jpg");
  background-repeat: no-repeat;
  background-size: contain;


}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
.header{
  margin-top: 200px;
  background-color: rgba(216,216,216,.25);


}
ul.header li {
  display: inline;
  list-style-type: none;

}
ul.header {
  background-color: #111;
   text-align: right;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.userName {
background-color: rgba(216,216,216,.25);
margin-right: 300px;
margin-left: 300px;
border-style: solid;
border-width: 1px;
border-color: SteelBlue;
border-radius: 4px;
text-align: center;



}
.Register{

  background-color: rgba(216,216,216,.25);
  margin-right: 300px;
  margin-left: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: SteelBlue;
  border-radius: 4px;
  text-align: right;

}
Button.Register {
  text-align: center;


}

.s1{
  margin-right: 30px;


}

.coursess |{
  margin-right: 300px;
  margin-left: 300px;

}
